<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Konstruktion - Construction & Architecture WordPress Theme</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="assets/images/favicon.webp" type="images/x-icon" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
         href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap"
         rel="stylesheet">
      <!-- gulp:css -->
      <link rel="stylesheet" href="assets/css/aos.css">
      <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
      <link rel="stylesheet" href="assets/css/meanmenu.min.css">
      <link rel="stylesheet" href="assets/css/tailwind.min.css">
      <link rel="stylesheet" href="assets/css/custom.css">
      <!-- endgulp -->
   </head>
   <body>
      <div class="preloader">
         <div class="load-container">
            <div class="linespinner"></div>
         </div>
      </div>
      <!--  ====================== Header Area Start =============================  -->
      <header class="header-area pt-4 z-50 relative">
         <div class="container">
            <nav class="meanmenu-container lg:hidden">
               <a href="index.html" class="meanmenu-logo  absolute top-0">
                  <img class="h-auto"
                       src="assets/images/logo-2.svg"
                       alt="header-logo">
               </a>
            </nav>
            <nav class="header-nav hidden lg:flex items-center justify-between relative">
               <a href="index.html" class="header-logo flex items-center flex-shrink-0">
                  <img class="h-auto"
                       src="assets/images/logo-2.svg"
                       alt="header-logo">
               </a>
               <nav id="navbar-menu">
                  <ul class="dropdown-menu lg:flex lg:flex-grow items-center justify-center">
                     <li class="relative dropdown">
                        <a class="block py-7 mr-6 text-xs text-black font-semibold uppercase hover-underline"
                           href="#">Главная</a>
                        <ul class="submenu">
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Intems technology</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Intems technology</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Intems technology</a>
                           </li>
                        </ul>
                     </li>
                     <li class="relative dropdown megamenu-1">
                        <a class="block py-7 mx-6 text-xs text-black font-semibold uppercase hover-underline"
                           href="#">О нас</a>
                        <ul class="megamenu">
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Vission</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Our History</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Saftly</a>
                           </li>
                        </ul>
                     </li>
                     <li class="relative dropdown megamenu-2">
                        <a class="block py-7 mx-6 text-xs text-black font-semibold uppercase hover-underline"
                           href="#">Услуги</a>
                        <ul class="megamenu">
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Contstrution</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Design - Build</a>
                           </li>
                        </ul>
                     </li>
                     <li class="relative dropdown megamenu-3">
                        <a class="block py-7 mx-6 text-xs text-black font-semibold uppercase hover-underline"
                           href="#">Работы</a>
                        <ul class="megamenu">
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Проекты</a>
                           </li>
                           <li>
                              <a class="block py-3 px-5 text-xs text-coolGray-400 hover:text-orange-800 uppercase whitespace-nowrap transition"
                                 href="#"> Awards</a>
                           </li>
                        </ul>
                     </li>
                     <li class="relative dropdown">
                        <a class="block py-7 mx-6 text-xs text-black font-semibold uppercase hover-underline"
                           href="#">Новости</a>
                     </li>
                  </ul>
               </nav>
               <ul class="flex items-center justify-end">
                  <li class="pr-5 mr-5 border-r border-coolGray-200">
                     <button class="toogle-search text-xs text-black font-semibold uppercase">
                        <img class="h-4"
                             src="assets/images/search.png"
                             alt="title">
                     </button>
                  </li>
                  <li>
                     <button class="toogle-sidebar flex items-center text-xs text-black font-semibold uppercase">
                        <img class="h-2.5 mr-2"
                             src="assets/images/four-dot.png"
                             alt="title">
                        <span class="hover-underline">Get In Touch</span>
                     </button>
                  </li>
               </ul>
            </nav>
         </div>
         <section class="megamenu-area megamenu-area-1 border-t border-coolGray-200">
            <div class="container">
               <div class="grid gap-8 md:grid-cols-12 max-w-5xl m-auto">
                  <div class="md:col-span-7">
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Vision</h4>
                              <p class="text-xs">
                                 We are passionately leading the way in digitizing the construction
                                 industry.
                              </p>
                           </li>
                        </ul>
                        <ul class="md:w-1/2 mb-4 pr-20">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Sustainability</h4>
                              <p class="text-xs">
                                 Our holistic approach addresses partners, people, Проекты, practices &
                                 places.
                              </p>
                           </li>
                        </ul>
                     </div>
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Who we are</h4>
                              <p class="text-xs">
                                 We are passionately leading the way in digitizing the construction
                                 industry.
                              </p>
                           </li>
                        </ul>
                        <ul class="md:w-1/2 mb-4 pr-20">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Careers</h4>
                              <p class="text-xs">
                                 Our holistic approach addresses partners, people, Проекты, practices &
                                 places.
                              </p>
                           </li>
                        </ul>
                     </div>
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">History</h4>
                              <p class="text-xs">
                                 We are passionately leading the way in digitizing the construction
                                 industry.
                              </p>
                           </li>
                        </ul>
                        <ul class="md:w-1/2 mb-4 pr-20">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Leadership</h4>
                              <p class="text-xs">
                                 Our holistic approach addresses partners, people, Проекты, practices &
                                 places.
                              </p>
                           </li>
                        </ul>
                     </div>
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Safety</h4>
                              <p class="text-xs">
                                 We are passionately leading the way in digitizing the construction
                                 industry.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="md:col-span-5">
                     <img class="min-h-full object-cover"
                          src="assets/images/adrien-olichon.webp"
                          alt="title">
                  </div>
               </div>
            </div>
         </section>
         <section class="megamenu-area megamenu-area-2 border-t border-coolGray-200">
            <div class="container">
               <div class="grid gap-8 md:grid-cols-12 max-w-5xl m-auto">
                  <div class="md:col-span-7">
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">Construction</h4>
                              <p class="text-xs">
                                 From preconstruction to virtual design and construction, we offer a wide
                                 range of services to meet your building needs.
                              </p>
                           </li>
                        </ul>
                        <ul class="md:w-1/2 mb-4 pr-20">
                           <li>
                              <h4 class="text-2xl text-black mb-2">
                                 Lump-Sum Contracting
                              </h4>
                              <p class="text-xs">
                                 The Construction Manager is not required to provide an estimate or
                                 contract cost breakdown and does not typically participate in pre-construction.
                              </p>
                           </li>
                        </ul>
                     </div>
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">
                                 Design - Build
                              </h4>
                              <p class="text-xs">
                                 Certainty of outcome. It’s why our clients choose us for their most
                                 challenging Design/Build Проекты.
                              </p>
                           </li>
                        </ul>
                     </div>
                     <div class="md:flex mt-12">
                        <ul class="md:w-1/2 mb-4 pr-24">
                           <li>
                              <h4 class="text-2xl text-black mb-2">
                                 Pre-Construction Services
                              </h4>
                              <p class="text-xs">
                                 From engineering to preconstruction, we offer a variety of services and
                                 delivery methods.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="md:col-span-5">
                     <img class="min-h-full object-cover"
                          src="assets/images/brett-sayles.webp"
                          alt="title">
                  </div>
               </div>
            </div>
         </section>
         <section class="megamenu-area megamenu-area-3 border-t border-coolGray-200">
            <div class="container">
               <div class="grid gap-8 md:grid-cols-12 max-w-5xl m-auto">
                  <div class="md:col-span-7">
                     <div class="md:flex mt-12">
                        <div class="md:w-1/2 mb-4 pr-24">
                           <ul>
                              <li>
                                 <h4 class="text-2xl text-black mb-2">
                                    Проекты
                                 </h4>
                                 <p class="text-xs">
                                    Explore some of our Проекты and see how we’re transforming the built
                                    world.
                                 </p>
                              </li>
                           </ul>
                           <ul class="mt-12">
                              <li>
                                 <h4 class="text-2xl text-black mb-2">
                                    Awards
                                 </h4>
                                 <p class="text-xs">
                                    Awards validate the safety, ethics, and quality that we commit to every
                                    day.
                                 </p>
                              </li>
                           </ul>
                        </div>
                        <div class="md:w-1/2 mb-4 pr-8">
                           <p class="text-xs border-b border-coolGray-200 pb-5 mb-5">
                              <a href="#">Latest Проекты</a>
                           </p>
                           <ul class="border-b border-coolGray-200 pb-3 mb-5">
                              <li>
                                 <p class="text-xs">
                                    <a class="hover:text-orange-800 transition" href="#">Residential</a>
                                 </p>
                                 <h4 class="text-2xl text-black mb-2">
                                    <a class="hover-underline hover:text-orange-800 transition" href="#">
                                    ТРАССА ФОРМУЛА {{ projects }}  1, Г.СОЧИ 1</a>
                                 </h4>
                                 123123123
                              </li>
                           </ul>
                           <ul class="border-b border-coolGray-200 pb-3 mb-5">
                              <li>
                                 <p class="text-xs">
                                    <a class="hover:text-orange-800 transition" href="#">
                                    Public Buildings</a>
                                 </p>
                                 <h4 class="text-2xl text-black mb-2">
                                    <a class="hover-underline hover:text-orange-800 transition" href="#">
                                    Station Home </a>
                                 </h4>
                              </li>
                           </ul>
                           <ul class="border-b border-coolGray-200 pb-3 mb-5">
                              <li>
                                 <p class="text-xs">
                                    <a class="hover:text-orange-800 transition" href="#">Hospitality</a>
                                 </p>
                                 <h4 class="text-2xl text-black mb-2">
                                    <a class="hover-underline hover:text-orange-800 transition" href="#">
                                    Railcar Factory </a>
                                 </h4>
                              </li>
                           </ul>
                           <ul class="border-b border-coolGray-200 pb-3 mb-5">
                              <li>
                                 <p class="text-xs">
                                    <a class="hover:text-orange-800 transition" href="#">Hospitality</a>
                                 </p>
                                 <h4 class="text-2xl text-black mb-2">
                                    <a class="hover-underline hover:text-orange-800 transition" href="#">
                                    Park Offices </a>
                                 </h4>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="md:col-span-5">
                     <img class="min-h-full object-cover"
                          src="assets/images/berk-ozdemir.webp"
                          alt="title">
                  </div>
               </div>
            </div>
         </section>
         <section class="search-area border-t relative border-coolGray-200 py-8">
            <div class="container">
               <form class="w-full max-w-md m-auto">
                  <div class="flex items-center border border-coolGray-200">
                     <input class="appearance-none bg-transparent border-none w-full text-gray-700 p-3 leading-tight focus:outline-none"
                            type="text"
                            placeholder="Search for Проекты, people, or topics...">
                     <button class="flex-shrink-0 bg-black hover:bg-orange-800 p-3 transition"
                             type="button">
                        <img class="h-6"
                             src="assets/images/search-interface-symbol.png"
                             alt="title">
                     </button>
                  </div>
               </form>
               <button class="toogle-search absolute right-20 top-0 bottom-0 m-auto">
                  <img src="assets/images/cross-button.png" alt="title">
               </button>
            </div>
         </section>
         <nav class="sidebar-area text-center bg-white pt-0 p-10">
            <button class="toogle-sidebar absolute left-4 top-8">
               <img class="h-12"
                    src="assets/images/cross-button.png"
                    alt="">
            </button>
            <div class="border-b border-coolGray-200 pt-0 p-20 mb-4">
               <img class="w-full mb-8"
                    src="assets/images/joão-jesus.webp"
                    alt="title">
               <h3 class="text-3xl">
                  `Office
               </h3>
               <p class="text-xl">
                  Dattner Architects 498
                  <br>
                  Seventh Ave
                  <br>
                  20th Floor
                  <br>
                  New York, NY 10018
                  <br>
                  212.247.2660
                  <br>
                  info@konstruktion.com
               </p>
            </div>
            <h3 class="text-3xl mb-8">
               Got a project in mind?
            </h3>
            <a href="#"
               class="btn2 inline-block bg-black hover:bg-white text-xs text-white hover:text-black tracking-wide uppercase py-4 px-8 transition"><span class="hover-underline">Let’s talk</span></a>
            <ul class="flex text-xs items-center justify-center gap-4 p-4 mt-24">
               <li>
                  <a class="hover:text-orange-800 hover-underline" href="#">Facebook
                  </a>
               </li>
               <li>
                  <a class="hover:text-orange-800 hover-underline" href="#">Linkedin
                  </a>
               </li>
               <li>
                  <a class="hover:text-orange-800 hover-underline" href="#">Instagram
                  </a>
               </li>
            </ul>
         </nav>
      </header>
      <!--  ====================== Banner Area Start =============================  -->
      <section class="banner-area bg-coolGray-600 bg-no-repeat relative pt-60 pb-40"
               style="background-image: url(assets/images/david-martin-p9vBVq_-nXY-unsplash.jpg)">
         <div class="container">
            <h1 class="text-5xl lg:text-9xl leading-none text-white font-semibold mb-6">
               INTEMS EQUIPMENT.
               <br>
               <br>
            </h1>
            <a href="#"
               class="btn inline-block bg-white hover:bg-black text-xs hover:text-white tracking-wide uppercase py-4 px-8 transition"><span class="hover-underline">Подробнее</span></a>
            <div class="bg-white w-full max-w-3xl xl:absolute right-0 bottom-0 py-10 px-16 mt-6">
               <div class="mb-4">
                  <h3 class="text-3xl label-underline">
                     Давайте работать вместе
                  </h3>
               </div>
               <a href="#"
                  class="text-sm hover:text-orange-800 hover-underline transition">Связаться</a>
            </div>
         </div>
      </section>
      <!--  ====================== Step Area Start =============================  -->
      <section class="step-area relative py-24">
         <div class="container">
            <div class="grid gap-8 lg:grid-cols-12">
               <div class="lg:col-span-4">
                  <div class="step-box relative">
                     <p class="text-sm mb-4">
                        Кто мы
                     </p>
                     <h3 class="text-2xl">
                        Мы профессионалы, которые умеют
                        реализовывать крупные проекты. Наша команда
                        накопила большой опыт для того, чтобы быть
                        лучшим пит-стопом для наших заказчиков -
                        помогать максимально быстро, поддерживать всем
                        необходимым и направлять только вперед
                     </h3>
                  </div>
               </div>
               <div class="lg:col-span-4">
                  <div class="step-box relative">
                     <p class="text-sm mb-4">
                        О нас
                     </p>
                     <h3 class="text-2xl">
                        Первое, что о нас говорят наши заказчики - это
                        Intems Equipment отлично умеет решать проблемы.
                        Мы умеем думать быстро. Мы знаем, откуда ждать
                        неожиданностей. Мы готовы к нестандартным
                        сценариям.
                     </h3>
                  </div>
               </div>
               <div class="lg:col-span-4">
                  <div class="step-box relative">
                     <p class="text-sm mb-4">
                        Услуги
                     </p>
                     <h3 class="text-2xl">
                        - Волокoнно-оптические линии связи (ВОЛС)
                        <br>
                        - Система сбора и обработки информации (ССОИ)
                        <br>
                        - Система передачи данных и информации (СПДИ)
                        <br>
                        - Система телевизионного наблюдения (СТН)
                        <br>
                        - Комплексная система безопасности (КСБ)
                        <br>
                        и другое
                     </h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--  ====================== Проекты Area Start =============================  -->
      <section class="Проекты-area relative py-24">
         <div class="container">
            <div class="max-w-6xl m-auto">
               <div class="max-w-3xl mb-8">
                  <p class="text-xl label-underline mb-4">
                     Проекты
                  </p>
                  <h2 class="text-4xl lg:text-6xl leading-tight text-black mb-4">
                     Мы профессионалы, которые умеют
                     реализовывать крупные проекты
                  </h2>
                  <a href="#"
                     class="text-sm hover:text-orange-800 hover-underline transition">Посмотреть все проекты</a>
               </div>
               <!-- Slider main container -->
               <div class="themo_marketSwiper swiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper mb-16">
                     <!-- Slides -->
                     {% for project in projects %}
                        <div class="swiper-slide">
                           <div class="project-box relative">
                              <div class="project-thumb relative overflow-hidden mb-4">
                                 <img class="w-full" src="{{ project.image.url }}" alt="title">
                                 <a href="#"
                                    class="plus flex items-center bg-white absolute bottom-0 right-0 p-4"><span class="plus-extand whitespace-nowrap leading-tight">
                                 Посмотреть</span>
                                 <img class="h-6" src="assets/images/plus.png" alt="title">
                              </a>
                           </div>
                           <div class="project-content">
                              <a href="#" class="text-xs">Проекты</a>
                              <h4 class="text-2xl">
                                 <a href="#" class="hover:text-orange-800 hover-underline transition">{{ project.title }}</a>
                              </h4>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
               <!-- If we need navigation buttons -->
               <div class="swiper-button-prev bg-white z-50 h-12 w-12">
                  <img class="h-8"
                       src="assets/images/slider-left.png"
                       alt="title">
               </div>
               <div class="swiper-button-next bg-white z-50 h-12 w-12">
                  <img class="h-8"
                       src="assets/images/slider-right.png"
                       alt="title">
               </div>
               <!-- If we need scrollbar -->
               <div class="swiper-scrollbar">
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== sectors Area Start =============================  -->
   <section class="sectors-area relative py-24">
      <div class="container">
         <h2 class="text-4xl lg:text-6xl leading-tight text-black mb-14">
            Наши сектора
         </h2>
         <div class="grid items-center gap-8 lg:grid-cols-12">
            <div class="lg:col-span-4">
               <div class="sector-box max-w-sm">
                  <img class="h-auto mb-4"
                       src="assets/images/sec-icon1.png"
                       alt="title">
                  <h4 class="text-2xl mb-4">
                     Строительство
                  </h4>
                  <p class="mb-6">
                     Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology
                  </p>
                  <ul class="flex gap-3 items-center">
                     <li>
                        <a class="text-xs" href="#">Residential</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Business</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Houses</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="lg:col-span-4">
               <div class="sector-box max-w-sm">
                  <img class="h-auto mb-4"
                       src="assets/images/sec-icon2.png"
                       alt="title">
                  <h4 class="text-2xl mb-4">
                     Проектирование
                  </h4>
                  <p class="mb-6">
                     Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology
                  </p>
                  <ul class="flex gap-3 items-center">
                     <li>
                        <a class="text-xs" href="#">Residential</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Business</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Houses</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="lg:col-span-4">
               <div class="sector-box max-w-sm">
                  <img class="h-auto mb-4"
                       src="assets/images/sec-icon3.png"
                       alt="title">
                  <h4 class="text-2xl mb-4">
                     Реконструкция
                  </h4>
                  <p class="mb-6">
                     Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology
                  </p>
                  <ul class="flex gap-3 items-center">
                     <li>
                        <a class="text-xs" href="#">Residential</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Business</a>
                     </li>
                     <li>
                        <a class="text-xs" href="#">Houses</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Our way Area Start =============================  -->
   <section class="our-way-area relative py-36">
      <div class="container">
         <div class="max-w-5xl m-auto grid items-center gap-8 lg:grid-cols-12">
            <div class="lg:col-span-6">
               <div class="relative max-w-md text-right mb-10 mr-20">
                  <img class="inline-block h-96"
                       src="assets/images/gettyImages.webp"
                       alt="title">
                  <img class="absolute -bottom-10 left-0 h-80"
                       src="assets/images/gettyImages2.webp"
                       alt="title">
               </div>
            </div>
            <div class="lg:col-span-6">
               <p class="text-xl label-underline mb-4">
                  Наш подход
               </p>
               <h2 class="text-4xl lg:text-6xl leading-tight text-black mb-8">
                  Устойчивость
               </h2>
               <p class="mb-10">
                  Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology Intems technology
               </p>
               <a href="#"
                  class="btn2 inline-block bg-black hover:bg-white text-xs text-white hover:text-black tracking-wide uppercase py-4 px-8 transition"><span class="hover-underline">Подробнее</span></a>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== services Area Start =============================  -->
   <section class="service-area bg-coolGray-600 relative py-36">
      <div class="container">
         <div class="grid items-center gap-8 lg:grid-cols-12">
            <div class="lg:col-span-6">
               <div class="service-content pr-16">
                  <p class="text-white text-xl label-underline mb-4">
                     Услуги
                  </p>
                  <h2 class="text-white text-4xl lg:text-6xl leading-tight text-black">
                     Предоставление исключительных строительных услуг и понимание с самого начала.
                  </h2>
               </div>
            </div>
            <div class="lg:col-span-6 pl-16">
               {%  for service in services %}
                  <div class="service-item flex items-center justify-between border-b border-coolGray-50 pb-8">
                     <div class="flex items-center">
                        <span class="text-white text-sm mr-8">0{{ forloop.counter }}</span>
                        <h3 class="text-2xl">
                           <a class="text-white hover:text-orange-800 hover-underline" href="#">
                           {{ service.title }} </a>
                        </h3>
                     </div>
                     <img class="h-8"
                          src="assets/images/right-arrow.png"
                          alt="title">
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Feature Area Start =============================  -->
   <section class="feature-area bg-no-repeat bg-bottom bg-center relative pt-36 pb-80"
            style="background-image: url(assets/images/martin-péchy.webp);
                   ">
      <div class="container">
         <div class="grid items-center gap-8 lg:grid-cols-12">
            <div class="lg:col-span-8">
               <div class="">
                  <h2 class="text-4xl lg:text-6xl leading-tight text-black mb-8">
                     Строительство для лучших.
                  </h2>
                  <p class="mb-8">
                     Чтобы исследовать и искать новые способы строительства, мы собрали людей, инновации и партнерские отношения, которые могут предвидеть и преодолевать новые вызовы.
                  </p>
                  <div class="max-w-xs  service-item flex items-center justify-between border-b border-coolGray-200 pb-4 mb-4">
                     <div class="flex items-center">
                        <h3 class="text-2xl">
                           <a class="hover:text-orange-800 hover-underline" href="#">Инновации</a>
                        </h3>
                     </div>
                     <img class="h-8"
                          src="assets/images/right-arrow.png"
                          alt="title">
                  </div>
                  <div class="service-item flex items-center justify-between border-b border-coolGray-200 pb-4 mb-4">
                     <div class="flex items-center">
                        <h3 class="text-2xl">
                           <a class="hover:text-orange-800 hover-underline" href="#">Сильный фундамент</a>
                        </h3>
                     </div>
                     <img class="h-8"
                          src="assets/images/right-arrow.png"
                          alt="title">
                  </div>
               </div>
            </div>
            <div class="lg:col-span-4">
               <div class="max-w-xs">
                  <div class="feature-item border-b border-coolGray-200 pb-6 mb-4">
                     <h2 class="text-4xl lg:text-6xl leading-tight text-black">
                        100%
                     </h2>
                     <p class="text-sm">
                        сотрудников в штате
                     </p>
                  </div>
                  <div class="feature-item border-b border-coolGray-200 pb-6 mb-4">
                     <h2 class="text-4xl lg:text-6xl leading-tight text-black">
                        50
                     </h2>
                     <p class="text-sm">
                        Проектов в разных индустриях
                     </p>
                  </div>
                  <div class="feature-item border-b border-coolGray-200 pb-6 mb-4">
                     <h2 class="text-4xl lg:text-6xl leading-tight text-black">
                        20
                     </h2>
                     <p class="text-sm">
                        больше чем 20 лет опыта
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Saftly Area Start =============================  -->
   <section class="saftly-area relative py-36">
      <div class="container">
         <div class="max-w-5xl m-auto grid items-center gap-8 lg:grid-cols-12">
            <div class="lg:col-span-6">
               <div class="relative max-w-md text-right mb-10 mr-20">
                  <img class="inline-block h-96"
                       src="assets/images/gettyImages3.webp"
                       alt="title">
                  <img class="absolute -bottom-10 left-0 h-80"
                       src="assets/images/gettyImages4.webp"
                       alt="title">
               </div>
            </div>
            <div class="lg:col-span-6">
               <p class="text-xl label-underline mb-4">
                  Безопасность
               </p>
               <h2 class="text-4xl lg:text-6xl leading-tight text-black mb-8">
                  Мы заботимся друг о друге.
               </h2>
               <p class="mb-10">
                  Мы хотим, чтобы каждый сотрудник
                  и  партнер чувствовали себя частью общего блага и сплоченной командой. Мы помогаем нашим командам укреплять отношения с  партнерами, уделяя особое внимание.
               </p>
               <ul class="flex items-center">
                  <li class="border-r border-coolGray-200 mr-4 pr-4">
                     <a class="text-xs font-semibold text-black uppercase hover:text-orange-800 hover-underline transition"
                        href="#">Подробнее</a>
                  </li>
                  <li>
                     <a class="text-xs font-semibold text-black uppercase hover:text-orange-800 hover-underline transition"
                        href="#">Карьера</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Whats Area Start =============================  -->
   <section class="whats-area bg-coolGray-600 bg-no-repeat bg-center relative pb-24 pt-40"
            style="background-image: url(assets/images/whats-images.webp);
                   ">
      <div class="container">
         <h2 class="text-5xl lg:text-9xl leading-none text-white font-semibold">
            Мы переопределяем грани возможного
         </h2>
      </div>
   </section>
   <!--  ====================== Leadership Area Start =============================  -->
   <section class="leadership-area relative py-24">
      <div class="container">
         <div class="grid gap-8 lg:grid-cols-12">
            <div class="lg:col-span-4">
               <h2 class="text-4xl lg:text-6xl leading-tight text-black mt-14 mb-8">
                  Встречайте нашу команду
               </h2>
               <a href="#"
                  class="btn2 inline-block bg-black hover:bg-white text-xs text-white hover:text-black tracking-wide uppercase py-4 px-8 transition"><span class="hover-underline">Подробнее</span></a>
            </div>
            <div class="lg:col-span-8">
               <!-- Slider main container -->
               <div class="themo_marketSwiper2 swiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper mb-16">
                     <!-- Slides -->
                     <div class="swiper-slide">
                        <div class="leadership-item sm:flex gap-8 items-center justify-center">
                           <div class="leadership-thumb overflow-hidden sm:w-1/2 mb-4">
                              <img class="w-full"
                                   src="assets/images/author-image1.webp"
                                   alt="title">
                           </div>
                           <div class="leadership-content sm:w-1/2 sm:pr-20">
                              <h3 class="text-3xl mb-4">
                                 <a class="hover:text-orange-800 hover-underline transition" href="#">John
                                 Smith</a>
                              </h3>
                              <p>
                                 <b>Executive Vice President & General Counsel</b>
                                 <br>
                                 <br>
                                 “We favorably impact people, families and communities with our work, our Проекты and
                                 our
                                 charitable efforts. It’s an exciting place to be every day and our opportunities to
                                 contribute
                                 will grow as we continue to grow around the United States.”
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="leadership-item sm:flex gap-8 items-center justify-center">
                           <div class="leadership-thumb overflow-hidden sm:w-1/2 mb-4">
                              <img class="w-full"
                                   src="assets/images/author-image1.webp"
                                   alt="title">
                           </div>
                           <div class="leadership-content sm:w-1/2 sm:pr-20">
                              <h3 class="text-3xl mb-4">
                                 <a class="hover:text-orange-800 hover-underline transition" href="#">John
                                 Smith</a>
                              </h3>
                              <p>
                                 <b>Executive Vice President & General Counsel</b>
                                 <br>
                                 <br>
                                 “We favorably impact people, families and communities with our work, our Проекты and
                                 our
                                 charitable efforts. It’s an exciting place to be every day and our opportunities to
                                 contribute
                                 will grow as we continue to grow around the United States.”
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-prev bg-white z-50 h-12 w-12">
                     <img class="h-8"
                          src="assets/images/slider-left.png"
                          alt="title">
                  </div>
                  <div class="swiper-button-next bg-white z-50 h-12 w-12">
                     <img class="h-8"
                          src="assets/images/slider-right.png"
                          alt="title">
                  </div>
                  <!-- If we need scrollbar -->
                  <div class="swiper-scrollbar">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== News Area Start =============================  -->
   <section class="news-area relative py-24">
      <div class="container">
         <div class="grid gap-8 lg:grid-cols-12">
            <div class="lg:col-span-4">
               <p class="text-xl label-underline mb-4">
                  Новости
               </p>
               <h3 class="text-4xl lg:text-6xl leading-tight text-black">
                  Intems technology
               </h3>
               <p>
                  Наши люди нацелены на поиск решений любой проблемы. Этот настрой создает отличные истории.
               </p>
            </div>
            <div class="lg:col-span-8">
               <div class="grid gap-8 lg:grid-cols-12">
                  <div class="lg:col-start-1 lg:col-end-6">
                     <div class="news-box">
                        <div class="news-thumb overflow-hidden mb-4">
                           <img class="w-full"
                                src="assets/images/news-image1.webp"
                                alt="title">
                        </div>
                        <div class="news-content">
                           <a href="#" class="text-xs">Innovation</a>
                           <h4 class="text-2xl">
                              <a href="#" class="hover:text-orange-800 hover-underline transition">
                              Winthrop Center Will Be One of the World’s Largest Passive House Buildings </a>
                           </h4>
                        </div>
                     </div>
                  </div>
                  <div class="lg:col-start-7 lg:col-end-12">
                     <div class="news-box">
                        <div class="news-thumb overflow-hidden mb-4">
                           <img class="w-full"
                                src="assets/images/news-image2.webp"
                                alt="title">
                        </div>
                        <div class="news-content">
                           <a href="#" class="text-xs">Report</a>
                           <h4 class="text-2xl">
                              <a href="#" class="hover:text-orange-800 hover-underline transition">
                              Our aproach to to Sustainability </a>
                           </h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Partner Area Start =============================  -->
   <section class="partner-area relative py-24">
      <div class="container">
         <div class="md:flex items-center justify-between">
            <div class="partner-title md:border-r border-coolGray-200 pr-16 mb-4">
               <h4 class="text-3xl whitespace-nowrap">
                  Наши клиенты
               </h4>
            </div>
            <div class="w-full partner-brand flex flex-wrap gap-8 items-center justify-evenly mb-4">
               <a href="#">
                  <img src="assets/images/lafeminite.svg" alt="title">
               </a>
               <a href="#">
                  <img src="assets/images/salute.svg" alt="title">
               </a>
               <a href="#">
                  <img src="assets/images/debebe.svg" alt="title">
               </a>
               <a href="#">
                  <img src="assets/images/skole.svg" alt="title">
               </a>
               <a href="#">
                  <img src="assets/images/jolie.svg" alt="title">
               </a>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Callto Area Start =============================  -->
   <section class="callto-area bg-coolGray-600 bg-no-repeat bg-center border-b-4 border-orange-800 relative py-24"
            style="background-image: url(assets/images/get-ready.webp);
                   ">
      <div class="container">
         <div class="relative">
            <h2 class="text-4xl lg:text-6xl leading-tight text-white mb-10">
               Мы готовы вам помочь
            </h2>
            <div class="flex items-center flex-wrap gap-4">
               <a href="#"
                  class="btn inline-block bg-coolGray-800 hover:bg-orange-800 text-xs text-white tracking-wide uppercase py-8 px-10 transition"><span class="hover-underline">Постройте проект с нами</span></a>
               <a href="#"
                  class="btn inline-block bg-coolGray-800 hover:bg-orange-800 text-xs text-white tracking-wide uppercase py-8 px-10 transition"><span class="hover-underline">Карьера с нами</span></a>
            </div>
         </div>
      </div>
   </section>
   <!--  ====================== Footer Area Start =============================  -->
   <footer class="footer-area relative py-24">
      <div class="container">
         <div class="grid items-end gap-8 md:grid-cols-10 mb-24">
            <div class="md:col-span-5 lg:col-span-2">
               <a href="index.html" class="footer-logo">
                  <img class="h-auto"
                       src="assets/images/logo-footer.svg  "
                       alt="header-logo">
               </a>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <h5 class="text-xs text-black font-bold uppercase mb-6">
                  NEW YORK
               </h5>
               <p class="text-xs mb-4">
                  360 Lexington Avenue, 2nd Floor
                  <br>
                  New York, NY 10017
               </p>
               <p class="text-xs">
                  <a class="hover:text-orange-800 transition" href="#">212.849.4800 </a>
                  <br>
                  <a class="hover:text-orange-800 transition" href="#">office@konstruktion.com</a>
               </p>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <h5 class="text-xs text-black font-bold uppercase mb-6">
                  MIAMI, FL
               </h5>
               <p class="text-xs mb-4">
                  One Biscayne Tower, Suite #2700,
                  2 South Biscayne Boulevard
               </p>
               <p class="text-xs">
                  <a class="hover:text-orange-800 transition" href="#">212.849.4800 </a>
                  <br>
                  <a class="hover:text-orange-800 transition" href="#">office@konstruktion.com</a>
               </p>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <h5 class="text-xs text-black font-bold uppercase mb-6">
                  NEW JERSEY
               </h5>
               <p class="text-xs mb-4">
                  One Evertrust Plaza, Suite 306
                  <br>
                  Jersey City, NJ 07302
               </p>
               <p class="text-xs">
                  <a class="hover:text-orange-800 transition" href="#">212.849.4800 </a>
                  <br>
                  <a class="hover:text-orange-800 transition" href="#">office@konstruktion.com</a>
               </p>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <h5 class="text-xs text-black font-bold uppercase mb-6">
                  WASHINGTON DC
               </h5>
               <p class="text-xs mb-4">
                  1250 I Street, NW, Suite 900
                  <br>
                  Washington, DC 20005
               </p>
               <p class="text-xs">
                  <a class="hover:text-orange-800 transition" href="#">212.849.4800 </a>
                  <br>
                  <a class="hover:text-orange-800 transition" href="#">office@konstruktion.com</a>
               </p>
            </div>
         </div>
         <div class="grid items-end gap-8 md:grid-cols-10 mb-24">
            <div class="md:col-span-5 lg:col-span-2">
               <a class="footer-nav block text-sm font-semibold uppercase border-b border-coolGray-200 hover:border-orange-800 py-3"
                  href="#"><span class="hover-underline">Проекты</span></a>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <a class="footer-nav block text-sm font-semibold uppercase border-b border-coolGray-200 hover:border-orange-800 py-3"
                  href="#"><span class="hover-underline">История</span></a>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <a class="footer-nav block text-sm font-semibold uppercase border-b border-coolGray-200 hover:border-orange-800 py-3"
                  href="#"><span class="hover-underline">Видение</span></a>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <a class="footer-nav block text-sm font-semibold uppercase border-b border-coolGray-200 hover:border-orange-800 py-3"
                  href="#"><span class="hover-underline">Лидеры</span></a>
            </div>
            <div class="md:col-span-5 lg:col-span-2">
               <a class="footer-nav block text-sm font-semibold uppercase border-b border-coolGray-200 hover:border-orange-800 py-3"
                  href="#"><span class="hover-underline">Кареьра</span></a>
            </div>
         </div>
         <div class="grid items-end gap-8 lg:grid-cols-12">
            <div class="lg:col-span-4">
               <p class="text-xs">
                  ©2023 <a class="hover:text-orange-800 hover-underline" href="#">Intems technology</a>
               </p>
            </div>
            <div class="lg:col-span-4">
               <ul class="flex text-xs items-center lg:justify-center gap-4">
                  <li>
                     <a class="hover:text-orange-800 hover-underline" href="#">Facebook
                     </a>
                  </li>
                  <li>
                     <a class="hover:text-orange-800 hover-underline" href="#">Linkedin
                     </a>
                  </li>
                  <li>
                     <a class="hover:text-orange-800 hover-underline" href="#">Instagram
                     </a>
                  </li>
               </ul>
            </div>
            <div class="lg:col-span-4">
               <ul class="flex text-xs items-center lg:justify-end gap-4">
                  <li>
                     <a class="hover:text-orange-800 hover-underline" href="#">Terms and Conditions
                     </a>
                  </li>
                  <li>
                     <a class="hover:text-orange-800 hover-underline" href="#"> Privacy Policy
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
   <!--  ====================== End Scroll To Top =============================  -->
   <!-- gulp:js -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/swiper-bundle.min.js"></script>
   <script src="assets/js/jquery.meanmenu.min.js"></script>
   <script src="assets/js/aos.js"></script>
   <script src="assets/js/app.js"></script>
   <!-- endgulp -->
</body>
</html>
